{% extends 'base.html' %}

{% block content %}
	{% load staticfiles %}

	<nav id="navbar_custom" class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div id="logo" class="navbar-brand d-none d-sm-block">Grzegorz Gieda</div>
		<div id="logo_sm" class="navbar-brand d-block d-sm-none">Grzegorz Gieda</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto w-100 justify-content-end">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Start</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'about' %}">O mnie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'skills' %}">Umiejętności</a>
				</li>
				<li class="nav-item">
					<a class="nav-link aktywny" href="{% url 'projects' %}">Projekty</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'blog' %}">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- TREŚĆ STRONY (PORTFOLIO)-->

	<div class="container-fluid content">
		<div class="d-flex justify-content-center nocursor">
			<h4>{{ project.name }}</h4>
		</div>
		<div class="d-flex justify-content-center">
			<img src="{{ project.image.url }}" width=600 height=400>
		</div>
		<div class="d-flex justify-content-center nocursor">
			({{ project.tech }})
		</div>
		<div class="d-flex justify-content-center nocursor">
			{{ project.summary }}
		</div>
		<div class="d-flex justify-content-center">
			<a href="{{ project.gitlink }}">[LINK DO KODU]</a>
		</div>
		<div class="d-flex justify-content-center">
			<a href="{% url 'projects' %}" class='btn przycisk'>Powrót</a>
		</div>
	</div>
{% endblock %}
