<!doctype html>

<html lang="en">



<head>
	{% load staticfiles %}
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<link  rel="stylesheet" href="{% static 'jquery_ui/jquery-ui.css' %}">

	<link rel="stylesheet" href="{% static 'css/styling.css' %}">

	<title>O mnie</title>

</head>

<body>

	<!-- GÓRNY NAVBAR -->

	<nav id="navbar_custom" class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div id="logo" class="navbar-brand d-none d-sm-block">Grzegorz Gieda</div>
		<div id="logo_sm" class="navbar-brand d-block d-sm-none">Grzegorz Gieda</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto w-100 justify-content-end">
				<li class="nav-item">
					<a id="start" class="nav-link" href="{% url 'home' %}">Start</a>
				</li>
				<li class="nav-item">
					<a id="o_mnie" class="nav-link aktywny" href="{% url 'about' %}">O mnie</a>
				</li>
				<li class="nav-item">
					<a id="umiejetnosci" class="nav-link" href="{% url 'skills' %}">Umiejętności</a>
				</li>
				<li class="nav-item">
					<a id="portfolio" class="nav-link" href="{% url 'projects' %}">Projekty</a>
				</li>
				<li class="nav-item">
					<a id="kontakt" class="nav-link" href="{% url 'blog' %}">Blog</a>
				</li>
				<li class="nav-item">
					<a id="kontakt" class="nav-link" href="{% url 'contact' %}">Kontakt</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- TREŚĆ STRONY (O MNIE)-->

	<main>
		<div class="container-fluid content">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-12 d-none d-sm-block left_content">
					<div class="d-flex justify-content-center"><img src="{% static 'img/o_mnie.jpg' %}" class="profil"></div>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-8 col-sm-7 col-12 right_content">
					<div class="d-flex justify-content-center d-block d-sm-none">
						<img src="{% static 'img/o_mnie.jpg' %}" class="profil">
					</div>
					<div class="nocursor">
						<h2 class="d-none d-sm-block">Witam</h2>
						<p>Programowaniem i projektowaniem stron internetowych zainteresowałem się całkiem niedawno. Temat jednak wciągnął mnie bardzo szybko. Wcześniejsze wykształcenie szybko uzupełniłem studium podyplomowym z programowania komputerów. Tam też głównie zgłębiałem podstawy języka Python. Jestem samoukiem.  Zdobyłem podstawową wiedzę dotyczącą HTML'a i CSS'a i uzupełniłem ją umiejętnością pisania skryptów w JavaScript przy pomocy biblioteki jQuery. Obecnie skupiam się na backendzie. Wciąż wzmacniam swoją wiedzę dotyczącą Pythona i zapoznaję się z jego kolejnymi bibliotekami m.in. Django, Flask, Pandas czy PostgreSQL. Moim celem jest rozwój w kierunku Full Stack Developera.</p>
						<hr>
						<h3>Prywatnie</h3>
						<p>Jestem osobą otwartą i tolerancyjną. Cechy osobowości i główne wykształcenie pozwalają mi ze zrozumieniem wychodzić naprzeciw ludzkim potrzebom. Hobbystycznie zajmuje mnie hodowla sukulentów. Ponadto jestem kociarzem. Oba powyższe to dla mnie temat rzeka. W wolnych chwilach spędzam czas na ćwiczeniu umysłu przy grach planszowych.</p>
						<hr>
						<h3>Czego szukam</h3>
						<p>Poszukuję dowolnej formy zatrudnienia, która da mi szansę na zdobycie cennego doświadczenia w programowaniu. Z wielką chęcią podejmę się stażu z zakresu przedstawionych przeze mnie technologii. Pragnę połączyć pracę zawodową z dalsza nauką, by w późniejszym czasie wyspecjalizować się w wybranej dziedzinie. W chwili obecnej jestem bardzo elastyczny jeśli chodzi o dalszy kierunek rozwoju.</p>
						<hr>
						<h3>Dane</h3>
					</div>
					<table class="d-none d-sm-block">
						<tr class="nocursor">
							<th>Imię:</th>
							<th>Nazwisko:</th>
						</tr>
						<tr class="nocursor">
							<td>Grzegorz</td>
							<td>Gieda</td>
						</tr>
						<tr class="nocursor">
							<th>Data urodzenia:</th>
							<th>Miejsce zamieszkania:</th>
						</tr>
						<tr class="nocursor">
							<td>21.06.1987</td>
							<td>Szczecin</td>
						</tr>
						<tr class="nocursor">
							<th>Email:</th>
							<th>Telefon:</th>
						</tr>
						<tr>
							<td><a href="mailto:grzegorzgieda@gmail.com">grzegorzgieda@gmail.com</a></td>
							<td><a href="tel:+48504566226">504566226</td>
							</tr>
							<tr class="nocursor">
								<th>Strona domowa:</th>
								<th>GitHub:</th>
							</tr>
							<tr>
								<td></td>
								<td><a href="https://github.com/GregorySeth">github.com/GregorySeth</a></td>
							</tr>
						</table>
						<table class="d-block d-sm-none">
							<tr class="nocursor">
								<th>Imię:</th>
							</tr>
							<tr class="nocursor">
								<td>Grzegorz</td>
							</tr>
							<tr class="nocursor">
								<th>Nazwisko:</th>
							</tr>
							<tr class="nocursor">
								<td>Gieda</td>
							</tr>
							<tr class="nocursor">
								<th>Data urodzenia:</th>
							</tr>
							<tr class="nocursor">
								<td>21.06.1987</td>
							</tr>
							<tr class="nocursor">
								<th>Miejsce zamieszkania:</th>
							</tr>
							<tr class="nocursor">
								<td>Szczecin</td>
							</tr>
							<tr>
								<th>Email:</th>
							</tr>
							<tr>
								<td><a href="mailto:grzegorzgieda@gmail.com">grzegorzgieda@gmail.com</a></td>
							</tr>
							<tr class="nocursor">
								<th>Telefon:</th>
							</tr>
							<tr>
								<td><a href="tel:+48504566226">504566226</a></td>
							</tr>
							<tr class="nocursor">
								<th>Strona domowa:</th>
							</tr>
							<tr>
								<td>Moja strona</td>
							</tr>
							<tr class="nocursor">
								<th>GitHub:</th>
							</tr>
							<tr>
								<td><a href="https://github.com/GregorySeth">github.com/GregorySeth</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<!-- BOTTOM BAR -->

		<footer>
			<div class="d-flex justify-content-center fixed-bottom">
				<div class="container-fluid" id="bottom_bar">
					<div class="row">
						<div class="col-10 col-sm-11 d-none d-sm-block nocursor" id="copyright">
							<div>Copyright&copy; 2019 Grzegorz Gieda</div>
						</div>
						<div class="col-5 d-block d-sm-none copyright_sm d-flex justify-content-center nocursor">Copyright&copy; 2019</div>
						<div class="col-2 col-sm-1">
							<a href="https://github.com/GregorySeth" target="_blank"><img src="{% static 'img/logo/github_log.png' %}" id="gitlogo"></a>
						</div>
						<div class="col-5 d-block d-sm-none copyright_sm d-flex justify-content-center nocursor">Grzegorz Gieda</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- Optional JavaScript -->



		<!-- jQuery first, then Popper.js, then Bootstrap JS -->

		<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>

		<script src="{% static 'jquery_ui/jquery-ui.js' %}"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- <script type="text/javascript" src="{% static 'script.js' %}"></script> -->

	</body>

	</html>
