{% extends 'base.html' %}

{% block content %}
	{% load staticfiles %}

	<!-- GÓRNY NAVBAR -->
	<nav id="navbar_custom" class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div id="logo" class="navbar-brand d-none d-sm-block">Grzegorz Gieda</div>
		<div id="logo_sm" class="navbar-brand d-block d-sm-none">Grzegorz Gieda</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto w-100 justify-content-end">
				<li class="nav-item">
					<a class="nav-link aktywny" href="{% url 'home' %}">Start</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'about' %}">O mnie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'skills' %}">Umiejętności</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'projects' %}">Projekty</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'blog' %}">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Duży ekran -->
	<div class="d-none d-sm-block content">
		<div class="d-flex justify-content-center">
			<img src="{% static 'img/profil.jpg' %}" class="profil">
		</div>
		<div class="d-flex justify-content-center">
			<h2 class="d-none d-sm-block nocursor">Grzegorz Gieda</h2>
		</div>
		<div class="d-flex justify-content-center nocursor">
			<p>Młody programista z zapałem wkraczający w świat IT.</p>
		</div>
		<div class="d-flex justify-content-center nocursor">
			<p>Człowiek ambitny i z uporem dążący do celu.</p>
		</div>
		<div class="d-flex justify-content-center">
			<div>
				<hr>
				<a href="https://www.python.org/" target="_blank" class='techs'>#Python 3.6/3.7</a>
				<a href="https://www.djangoproject.com/" target="_blank" class='techs'>#Django 2</a>
				<a href="https://www.postgresql.org/" target="_blank" class='techs'>#PosgreSQL</a>
				<a href="http://flask.pocoo.org/" target="_blank" class="techs">#Flask</a>
				<br>
				<div class="d-flex justify-content-center"><a href="#" class='techs'>#HTML 5</a> <a href="#" class='techs'>#CSS3</a> <a href="https://getbootstrap.com/" target="_blank" class='techs'>#Bootstrap 4</a> <br></div>
				<div class="d-flex justify-content-center"><a href="https://www.javascript.com/" target="_blank" class='techs'>#JavaScript</a> <a href="https://jquery.com/" target="_blank" class='techs'>#jQuery</a> <br></div>
				<hr>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="d-none d-sm-block">
				<a href="{% static 'cv/cv.pdf'%}" target="_blank" class="btn przycisk">Pobierz CV</a>
				<a href="{% url 'contact' %}" class="btn przycisk">Napisz do mnie</a>
			</div>
		</div>
	</div>

	<!-- Mały ekran -->
	<div class="col-xl-9 col-lg-9 col-md-8 col-sm-7 col-12 content align-self-center">
		<div class="d-flex justify-content-center d-block d-sm-none">
			<img src="{% static 'img/profil.jpg' %}" class="profil">
		</div>
		<div class="d-flex justify-content-center d-block d-sm-none">
			<h2 class="d-none d-sm-block nocursor">Grzegorz Gieda</h2>
		</div>
		<div class="d-flex justify-content-center d-block d-sm-none nocursor">
			<p>Młody programista z zapałem wkraczający w dynamiczny świat IT.</p>
		</div>
		<div class="d-flex justify-content-center d-block d-sm-none nocursor">
			<p>Człowiek ambitny i z uporem dążący do celu.</p>
		</div>
		<div class="d-flex justify-content-center d-block d-sm-none">
			<a href="{% static 'cv/cv.pdf'%}" target="_blank" class="btn przycisk">CV</a>
			<a href="{% url 'contact' %}" class="btn przycisk">Mail</a>
		</div>
	</div>

{% endblock %}
